.brands-head {
  text-align: left;
  font-size: 32px;
  line-height: 56px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.inline-block {
  display: inline-block;
}

.brand-image {
  height: 100%;
  margin: 5px 37px;
  filter: grayscale(100%);
}

.mercedes {
width: 85.19px;
margin-left: 0;

}

.canon {
  width: 100.11px;
}
.vivo {
  width: 67.29px;
}
.hdfc {
  width: 139px;
}
.icici {
  width: 119.5px;
}
.sony {
  width: 47.57px;
}


